#create-product-card{
background-color:#f2f2f2;
 #productname, #productprice, #product, #selectfeatured, #productimage, #selectquantity, #productcategory, #productsubcategory, #product, #available, #percentoff{
	background-color:#f2f2f2;
	border-radius:0px;
	}
}