#store-nav{
 padding:0px;
 margin:0px;
 z-index:10000;
}

#memberdropdown{
 width: 40px !important;
 a{
    &:hover, &:active, &:focus{
     background-color: #000000 !important;
    }
 }
}

#paypal-button-container{
 margin-right: 50px !important;
}